[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-filter = "*"
djangorestframework-gis = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-leaflet = "*"
djangorestframework-stubs = "*"
black = "*"

[dev-packages]

[requires]
